In [2]:
import pandas as pd

df=pd.read_csv('data/SPECT.csv', header=0)

In [3]:
df.head()

,Timestamp,F1_415nm,F2_445nm,F3_480nm,F4_515nm,F5_555nm,F6_590nm,F7_630nm,F8_680nm
0,2025-07-30 14:42:29,7.29,21.14,19.07,55.82,539.54,164.93,51.96,35.46
1,2025-07-30 14:43:29,7.66,12.83,17.14,21.83,107.90,46.34,25.66,26.28
2,2025-07-30 14:44:29,20.79,34.54,46.96,60.18,322.50,157.50,70.39,74.71
3,2025-07-30 14:45:29,0.00,0.00,0.00,0.00,0.34,0.90,0.00,0.00
4,2025-07-30 14:46:29,11.00,18.46,25.11,32.86,210.89,124.11,39.64,43.93